
h1 {
  text-align: center;
  /*font-family: 'Sriracha', cursive;*/
  font-family: 'Fredericka the Great', cursive;
  margin-top: 20px;
  margin-bottom: 0;
  color: steelblue;
  font-size: 50px;
}

.dropdown {
  position: absolute;
  z-index: 2;
  height: fit-content;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  align-items: center;
  margin: 5px;
  background-color: #ffffff78;
  padding: 10px;
  list-style-type: none;
  display: flex;
  right: 50px;
  flex-direction: column;
}

.hidden {
  visibility: hidden;
}

.date {
  margin: 0 15px;
}

.has-dropdown {
  margin: 0 15px;
  color: rgb(63, 253, 253);
  border-bottom: 1px solid;
  cursor: grab;
}

.panel {
  display: flex;
  padding-right: 70px;
  justify-content: flex-end;
  height: 30px;
}

img {
  height: 60px;
}

.frame {
  width: 40px;
  height: 40px;
  overflow: hidden;
  margin: 5px;
}

.frame:hover {
  box-sizing: border-box;
  border: 2px solid pink;
}

.icons {
  display: flex;
}

@media (max-width: 800px) {
  h1 {
    height: 50px;
  }
}





