<h1 [style.color]="titleColor">Diary App</h1>

<div class="panel">
  <span class="date balsamiq-sans" [style.color]="mainColor">{{currentDate | date: 'dd/MM/yyyy'}}</span>
  <div>
    <span class="has-dropdown balsamiq-sans" (click)="manageThemePicker()" [style.color]="mainColor">Pick a theme!</span>
    <ul class="dropdown" #themesDropDown id="themesDropDown" [ngClass]="isShown ? '' : 'hidden'">
      <p>Background image</p>
      <div class="icons">
        <div *ngFor="let item of getBacks()" (click)="parentChangeBack(item)" [ngClass]="item" class="frame">
         <img src='{{item}}.jpg'>
        </div>
      </div>
      <p>Font color</p>
      <input type="color" [(ngModel)]="titleColor" (change)="changeTitle()">
      <p>Main color</p>
      <input type="color" [(ngModel)]="mainColor" (change)="parentChangeMainColor()">
    </ul>
  </div>
</div>

