<div class="container">
  <div><span>Items in the recycle bin will be deleted automatically after</span>
    <input type="number" min="1" max="365" (change)="changeTimeout($event)" [value]="timeoutDays">
    <span>days</span>
  </div>
  <div *ngFor=" let note of notes | async" class="note">
    <app-note [note]="note" [fromDashboard]="false" (delete)="ds.deleteItemPermanently('notes', $event)"
      (restore)="ds.restoreItem('notes', $event)"></app-note>
  </div>
</div>
