
  <div class="container">
    <div class="main">
      <div class="search">
        <span>Search</span><input type="text" [(ngModel)]="searchText" name="fieldName" ngDefaultControl>
        <button routerLink="/editor" id="add-btn" (click)="sendData(null)">Add note</button>
        <div class="dropdown-options">

          <div class="dropdown-content">
            <p>Sort by: </p>
            <div>
              <label for="createdSort">date created</label>
              <input type="radio" id="createdSort" name="sort" [(ngModel)]="currentSortValue" [value]="sortValue.created"
                     (change)="sort()" checked>
            </div>
            <div>
              <label for="createdSort">date edited</label>
              <input type="radio" id="editedSort" name="sort" [(ngModel)]="currentSortValue" [value]="sortValue.edited"
                     (change)="sort()">
            </div>
            <div>
              <label for="createdSort">title</label>
              <input type="radio" id="titleSort" name="sort" [(ngModel)]="currentSortValue" [value]="sortValue.title"
                     (change)="sort()">
            </div>
            <div>
              <label for="createdSort">desc</label>
              <input type="radio" id="descSort" name="sortOrder" [(ngModel)]="currentSortOrder" [value]="sortOrder.desc"
                     (change)="sort()">
            </div>
            <div>
              <label for="createdSort">asc</label>
              <input type="radio" id="ascSort" name="sortOrder" [(ngModel)]="currentSortOrder" [value]="sortOrder.asc"
                     (change)="sort()">
            </div>
          </div>
        </div>
      </div>
      <div class="notes">
        <div *ngFor=" let note of notes | async  | appSearch: searchText | paginate: currentPage : itemsPerPage " class="note">
          <app-note [note]="note" [fromDashboard]="true" (edit)="sendData($event)" (delete)="delete($event)"></app-note>
        </div>
      </div>
      <nav>
        <div *ngFor="let page of pages" class="navBar">
          <div (click)="setCurrentPage(page)">{{page + 1}}</div>
        </div>
      </nav>
    </div>
  </div>


