@font-face {
  font-family: Mitr;
  src: url("../../../fonts/Mitr-Regular.ttf");
}

.container {
  display: flex;
  height: 100%;
}

section {
  overflow-y: auto;
}

#add-btn {
  position: relative;
}

.dropBtn, .dropdown-content {
  width: max-content;
  height: 22px;
  background-color: white;
  border-radius: 20px;
  margin: 10px 0;
  padding: 0 5px;
}

.dropBtn:before {
  display: inline-block;
  width: 10px;
  content: url('../../../images/sort-solid.svg');
}

.dropdown-options {
  position: relative;
  display: flex
}

.dropdown-content {
  display: block;
  background-color: #f9f9f9;
  width: 30px;
  overflow: hidden;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  transition: width ease-in 0.5s;
}

.dropdown-content p, .dropdown-content div {
  display: inline;
  margin-right: 5px;
}

.dropdown-options:hover .dropdown-content {
  width: max-content;
}

.search {
  border-radius: 20px;
  padding: 5px 10px;
  margin-bottom: 20px;
  width: fit-content;
  display: flex;
  align-items: center;
}

.search>input {
  width: 300px;
}

section {
  height: 100%;
}

.notes {
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
}

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  justify-content: space-between;
}

nav {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  width: fit-content;
  margin: 0 auto;
}

nav div {
  float: left;
  margin: 0 5px;
}

.navBar div {
  font-weight: bold;
}

.navBar div:hover {
  text-decoration: underline;
  cursor: grabbing;
}

@media (max-width: 700px) {
  .search {
    flex-direction: column;
    width: 100%;
    margin: 0;
  }

  .notes {
    justify-content: center;
  }

  .dropdown-options:hover .dropdown-content {
    transition: width, height 0.5s;
    width: fit-content;
    height: fit-content;
    padding: 5px;
  }

  .dropdown-content div {
    display: block;
  }

  .search input {
    width: auto;
  }
}
