<p>   Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Vitae justo eget magna fermentum. Tristique senectus et netus et malesuada fames. Tristique sollicitudin nibh sit amet commodo nulla facilisi. Sodales ut etiam sit amet nisl purus in mollis nunc. Ipsum faucibus vitae aliquet nec ullamcorper. Massa eget egestas purus viverra accumsan in. Elementum curabitur vitae nunc sed velit dignissim sodales ut eu. Posuere morbi leo urna molestie at elementum eu. Massa placerat duis ultricies lacus sed. In hac habitasse platea dictumst vestibulum rhoncus.
</p>
<p>
      Tellus mauris a diam maecenas sed enim ut. Nulla posuere sollicitudin aliquam ultrices sagittis orci. Aliquet porttitor lacus luctus accumsan. Proin libero nunc consequat interdum varius sit amet mattis. Cras tincidunt lobortis feugiat vivamus at augue eget arcu dictum. Enim sed faucibus turpis in eu mi bibendum. Eu tincidunt tortor aliquam nulla. Interdum velit laoreet id donec ultrices tincidunt arcu non sodales. Enim neque volutpat ac tincidunt vitae semper. Et pharetra pharetra massa massa ultricies. Iaculis at erat pellentesque adipiscing commodo elit.
</p>
<p>
      Mauris augue neque gravida in fermentum et sollicitudin ac. At tellus at urna condimentum mattis. Laoreet suspendisse interdum consectetur libero id faucibus. Ipsum dolor sit amet consectetur adipiscing. Nibh nisl condimentum id venenatis a condimentum vitae sapien. Ut porttitor leo a diam sollicitudin tempor id eu nisl. Mauris augue neque gravida in fermentum et sollicitudin ac orci. Cursus euismod quis viverra nibh cras pulvinar mattis nunc. Nulla facilisi cras fermentum odio eu feugiat. Condimentum id venenatis a condimentum. Sit amet consectetur adipiscing elit. Semper viverra nam libero justo laoreet sit amet cursus. Diam sit amet nisl suscipit adipiscing bibendum est. Urna id volutpat lacus laoreet non curabitur gravida arcu. Turpis egestas sed tempus urna et pharetra pharetra. Gravida arcu ac tortor dignissim convallis aenean et tortor at.
</p>
<div class="pictures">
  <img alt="picture of diary" src="../../assets/images/diary1.jpg">
  <img alt="picture of diary" src="../../assets/images/diary2.jpeg">
  <img alt="picture of diary" src="../../assets/images/diary3.jpg">
</div>
