<ng-container>
    <div>
      <mat-card>
        <mat-form-field>
          <input matInput placeholder="Note Title" [maxLength]="100" [(ngModel)]="this.currentNote.title">
        </mat-form-field>
        <br>
        <mat-form-field>
          <textarea matInput placeholder="Add content" rows="10" [(ngModel)]="this.currentNote.content"></textarea>
        </mat-form-field>
        <br>
        <button (click)="saveNote()">Save</button>
        <button routerLink="/notes">Cancel</button>
        <button (click)="addTag()">Add tag</button>
      </mat-card>
      <div class="tagInput" [ngClass]="addingTag ? 'visible' : 'hidden'">
        <input matInput placeholder="write here" [(ngModel)]="this.currentNote.tag">
        <button (click)="saveTag()">Save</button>
        <button (click)="deleteTag()">Delete</button>
      </div>
    </div>
  </ng-container>
