div {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 20px;
  padding: 10px 20px;
  width: 200px;
  box-shadow: 4px 4px 18px -4px rgba(34, 60, 80, 0.2);
  margin: 20px;
  word-break: break-word;
}

div:hover {
  transform: scale(1.03);
}

.hidden {
  display: none;
}

@media (max-width: 700px) {
  div {
    margin: 20px;
    width: 150px;
  }
}

