<div>
  <h2>{{note.title}}</h2>
  <p><small>By: {{note.ownerName}} <br>~{{note.created.toDate() | date: 'fullDate'}}</small></p>
  <button (click)="parentDelete(note.id)">delete</button>
  <button [ngClass]="fromDashboard ? '' : 'hidden'" (click)="parentEdit(note)">edit</button>
  <button [ngClass]="fromDashboard ? 'hidden' : ''" (click)="parentRestore(note.id)">restore</button>
</div>
