.container {
 /* */
  background-size: 100%;
}

app-body {
    display: grid;
    grid-template-columns: 1fr 5fr;
}

main {
  overflow: auto;
  margin: 20px;
  height: 100%;
}

.container {
    display: grid;
    grid-template-rows: 1fr 7fr 1fr;
    height: 100%;
}

.center-panel  {
  /*display: grid;
  grid-template-columns: 1fr 7fr;*/
  background: inherit;
  box-shadow: 0 0 1rem 0 rgba(41, 39, 39, 0.2);
  border-radius: 3px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  border-radius: 30px;
  margin: 0 50px;
  display: flex;
  flex-direction: column;
}

.center-panel:before {
  content: "";
  position: absolute;
  background: inherit;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 2000px rgba(241, 241, 241, 0.5);
  filter: blur(10px);
  margin: -20px;
}

button {
  border-radius: 30px;
  background-color: dodgerblue;
  border: none;
  font-family: Mitr;
  color: white;
  box-shadow: 0px 3px 6px 0px rgba(34, 60, 80, 0.3);
  padding: 3px 10px;
  margin-right: 10px;
}



/*.container {*/
/*  margin: 30px 0;*/
/*  height: 520px;*/
/*  overflow: auto;*/
/*}*/



