<div class="container" [ngClass]="this.back">
  <app-header (changeBack)="changeBack($event)"
    (changeMainColor)="changeMainColor($event)"></app-header>
  <div class="center-panel">
    <app-menu-side-bar></app-menu-side-bar>
    <main>
      <router-outlet></router-outlet>
    </main>
  </div>
  <app-footer></app-footer>
</div>
