<ul>
    <li class="nav-item" routerLink="notes"><a class="nav-link">My notes</a></li>
    <li class="nav-item" routerLink="recycle-bin"><a class="nav-link">Recycle bin</a></li>
    <li class="nav-item" routerLink="about"><a class="nav-link">About</a></li>
    <li class="nav-item" routerLink="calendar"><a class="nav-link">Calendar</a></li>
</ul>
