@font-face {
  font-family: Mitr;
  src: url("../../../../fonts/Mitr-Regular.ttf");
}

:host {
    width: 100%;
    display: block;
}

li {
  text-decoration: none;
  color: black;
  height: 20px;
  display: block;
  padding: 0 10px;
  list-style-type: none;
  border-right: 1px dashed darkgray;
  margin: 5px 0;
  cursor: grab;
}

li:last-child {
  border-right: none;
}

a {
  text-decoration: none;
  color: black;
  font-family: 'Fredericka the Great', cursive;
}

ul {
  margin: 10px 10px;
  background-color: white;
  border-radius: 30px;
  padding: 8px;
  display: flex;
}

@media (max-width: 700px) {
  ul {
    display: flex;
    justify-content: center;
  }

  li {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
