<div class="container">
  <div class="close" (click)="parentClosePopup()"></div>
  <div><label for="inTitle">Title: </label><input matInput [maxLength]="50" type="text" id="inTitle" [(ngModel)]="currentEvent.title"></div>
  <div><label for="inContent">Content: </label><textarea type="text" id="inContent" [(ngModel)]="currentEvent.content"></textarea></div>
  <div class="time"><label for="inStart">Time start: </label><input type="datetime-local" id="inStart" [(ngModel)]="currentEvent.start"></div>
  <div class="time"><label for="inEnd">Time end: </label><input type="datetime-local" id="inEnd" [(ngModel)]="currentEvent.end"></div>
  <button (click)="save()">Save</button>
  <button (click)="parentDeleteEvent()">Delete</button>
</div>
