:host {
  border-radius: 10px;
  border-style: double;
  display: flex;
  position: fixed;
  height: fit-content;
  padding: 10px;
  z-index: 2;
  background-color: white;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  box-shadow: 0px 1px 97px 100px rgba(0, 0, 0, 0.11);
}

label {
  width: 70px;
  display: block;
  float: left;
  text-align: right;
}

div {
  margin: 5px 0;
}

#inContent {
  min-height: 100px;
  min-width: 415px;
  border-radius: unset;
}

#inTitle {
  min-width: 400px;
  border-radius: unset;
}

.time {
  width: fit-content;
}

input {
  border-bottom: 1px solid grey;
}

textarea {
  border-top: none;
  border-right: none;
  border-left: none;
  border-image: initial;
  border-bottom: 1px solid grey;
  margin: 0px;
  width: 411px;
  height: 95px;
}

.close:after {
  content: '×';
  font-size: x-large;
  position: relative;
  left: 230px;
  cursor: grab;
}

