<!--<mat-progress-spinner-->
<!--  *ngIf="!events"-->
<!--  color="primary"-->
<!--  mode="indeterminate"-->
<!--  class="mx-auto mt-5">-->
<!--</mat-progress-spinner>-->
<div class="blur" [ngClass]="eventPopupShown ? '' : 'hidden'"></div>
<div class="calendar-container">
  <div class="row mt-4">
    <div class="col-md-4 text-left">
    </div>
    <div class="col-md-4 text-center">
      <p class="mt-0">{{ viewDate | calendarSchedulerDate:(view + 'ViewTitle'):locale:weekStartsOn:excludeDays:viewDays:startsWithToday }}</p>
    </div>
    <div class="col-md-4 text-right">
      <div class="row">
        <div class="col-6 d-md-none d-xl-flex col-xl-6 valign-center text-right">
          <select #viewDayOptionSelect2 class="form-control m-1" [ngModel]="viewDays" (change)="viewDaysOptionChanged(viewDayOptionSelect2.value)">
            <option [value]="1">One day</option>
            <option [value]="3">Three days</option>
            <option [value]="7">One week</option>
          </select>
        </div>
        <div class="col-6 col-md-12 col-xl-6">
          <div class="btn-group m-1" role="group">
            <button type="button" class="btn btn-primary"
                    mwlCalendarPreviousView
                    [view]="view"
                    [(viewDate)]="viewDate"
                    [daysInWeek]="viewDays"
                    [excludeDays]="excludeDays"
                    [disabled]="prevBtnDisabled"
                    (viewDateChange)="dateOrViewChanged()">
                            <span class="valign-center">
                                <i title="Back"
                                   class="material-icons md-18">keyboard_arrow_left</i>
                            </span>
            </button>
            <button type="button" class="btn btn-light"
                    mwlCalendarToday
                    [(viewDate)]="viewDate"
                    (viewDateChange)="dateOrViewChanged()">
                            <span class="valign-center">
                                <i title="Today"
                                   class="material-icons md-18">today</i>
                            </span>
            </button>
            <button type="button" class="btn btn-primary"
                    mwlCalendarNextView
                    [view]="view"
                    [(viewDate)]="viewDate"
                    [daysInWeek]="viewDays"
                    [excludeDays]="excludeDays"
                    [disabled]="nextBtnDisabled"
                    (viewDateChange)="dateOrViewChanged()">
                            <span class="valign-center">
                                <i title="Forward"
                                   class="material-icons md-18">keyboard_arrow_right</i>
                            </span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button (click)="showEventPopup(null)">Add event</button>
  <br>
  <button (click)="requestPermission()">Request notifications</button>
  <app-event-popup (closePopup)="closePopup()"
                   (deleteEvent)="delete($event)"
                   [ngClass]="eventPopupShown ? '' : 'hidden'"></app-event-popup>
  <div [ngSwitch]="view">
    <calendar-scheduler-view *ngSwitchCase="CalendarView.Week"
                             [viewDays]="viewDays"
                             [viewDate]="viewDate"
                             [events]="events"
                             [locale]="locale"
                             [responsive]="true"
                             [weekStartsOn]="weekStartsOn"
                             [excludeDays]="excludeDays"
                             [startsWithToday]="startsWithToday"
                             [hourSegments]="hourSegments"
                             [dayStartHour]="dayStartHour"
                             [dayEndHour]="dayEndHour"
                             [dayModifier]="dayModifier"
                             [hourModifier]="hourModifier"
                             [segmentModifier]="segmentModifier"
                             [eventModifier]="eventModifier"
                             [showEventActions]="true"
                             [showSegmentHour]="true"
                             [zoomEventOnHover]="true"
                             (viewDaysChanged)="viewDaysChanged($event)"
                             (dayHeaderClicked)="dayHeaderClicked($event.day)"
                             (hourClicked)="hourClicked($event.hour)"
                             (eventClicked)="showEventPopup($event.event)"
                             (segmentClicked)="segmentClicked('Clicked', $event.segment)"
                             [refresh]="refresh">
    </calendar-scheduler-view>
  </div>
</div>
