.calendar-container {
  height: 650px;
  margin: 20px auto;
  text-align: center;
  position: relative;
}

.hidden {
  display: none;
}

/*.blur {*/
/*  position: absolute;*/
/*  filter: blur(50px);*/
/*  background-color: #44444482;*/
/*  width: 100%;*/
/*  height: 100%;*/
/*  z-index: 2;*/
/*}*/
