* {
  margin: 0;
}

:root {
  --sky: url('./images/sky.jpg');
  --play: url('./images/play.jpg');
  --flowers: url('./images/flowers.jpg');
  --desk: url('./images/desk.jpg');
}

html, body {
  margin: 0;
}

.visible {
  display: block;
}

.hidden {
  display: none;
}

.play {
  background: var(--play);
}

.flowers {
  background: var(--flowers);
}

.sky {
  background: var(--sky);
}

.desk {
  background: var(--desk);
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

button {
  border-radius: 30px;
  background-color: dodgerblue;
  border: none;
  color: white;
  box-shadow: 0px 3px 6px 0px rgba(34, 60, 80, 0.3);
  padding: 3px 10px;
  margin: 10px 10px 10px 0;
  font-family: 'Balsamiq Sans', cursive;
  cursor: grab;
}

button:hover {
  filter: brightness(1.3);
}

input,
select {
  border: none;
  border-radius: 30px;
  margin: 0 10px;
  padding: 0 10px;
  height: 25px;
}

input:focus-visible,
select:focus-visible {
  outline: none;
}

input[type=radio] {
  margin: 0 5px;
  height: auto;
}

input[type=radio] {
  margin: 0 5px;
}

span, p, label {
  font-family: 'Balsamiq Sans',
  cursive;
}

app-note-editor {
  background: transparent;
}

::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px /* color of the tracking area */
}

::-webkit-scrollbar-thumb {
  background-color: #b8b8b8; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid #ffffff; /* creates padding around scroll thumb */
}
